/* === Table of Contents === */

/*
    0.  Includes
    1.  Colors and fonts
    2.  General
    3.  Header
    4.  Main
    5.  Post
    6.  Formating
    7.  Footer
    8.  Media Queries

 */

/* === 0.  Includes === */
@import url(normalize.css);
@import url(prism.css);

/* === 1.  Colors and fonts === */
body {
	background: #f0f0f0;
	color: #393a3c;
	font-family: 'Open Sans', sans-serif;}
a {
	color: #2bb3dd;
	text-decoration: none;}
a:hover {color: #1e85a4;}

/* header */
.main-header {background: #474d5d;}
.blog-title a, .blog-description a {color:#f9f9f9;}

/* post */
.post-date {
	color: #fff;
	background: #474d5d;}

.post-content, .post-footer, .post-comments {
	background: #fff;
	border-bottom: solid 4px #eeeeee;
}
.post-share {text-align: center;}
.share {border-color: #2bb3dd}
.read-more, .older-posts, .newer-posts {background: #474d5d;}

/* formating */

h1, h2, h3, h4, h5, h6 {color: #474d5d;}
blockquote {border-color:#2bb3dd !important;}

/* footer colors */
.main-footer {background-color:#474d5d; color:#f0f0f0;}


/* =============== 2.  General === */
.wrapper {
    width:100%;
    max-width: 60em;
    margin: 0 auto;
    padding: 4em 0 0 0;
}

/* =============== 3.  Header === */
.main-header {
	width: 100%;
    height: auto;
    padding: 2em 0;
    margin-bottom: 1rem;
    text-align: center;
    background: url(../images/top.jpg) center top repeat; 
}
.logo-wrap {
	width: 60em;
	margin: 0 auto;
	padding: 1em;
	box-sizing: border-box;
}
.blog-title {
	font-size: 5em;
}

/* =============== 4.  Main === */

/* =============== 5.  Post === */
.post {
	clear:both;
	margin: 0 0 6em 0;
	width: 100%;
	word-wrap:break-word;}

.post:before, .post:after {
	display: table;
	content: " ";}

.post-header {
	float: left;
	width: 15%;}

.inside .post-header {
	width: 100%;}

.post-date {
	text-align: center;
	padding: 45px 10px;
	-webkit-border-radius: 67%;
	border-radius: 67%;}

.inside .post-date {
	border-radius: 0;
	padding: .5em .5em .5em 3em;
	font-size: .8em;
	margin-left: .1em;
}

.post-tags {
	margin-top: 4em;
	border-top: 1px solid #eee;
	padding-top: 1em;
}

.post-content, .post-footer, .post-comments {
	width: 80%;
	float: left;
	margin-left: 5%;
	margin-top: -3em;
	padding: 1em;
	position: relative;
	box-sizing: border-box;
	border-top-left-radius: .2em;
	border-top-right-radius: .2em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	box-shadow: 0 1px 5px rgba(0,0,0,0.05);}

.post-content:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: #f0f0f0;
	border-right-color:#fff; 
	border-width: 15px;
	margin-top: -15px;
	top:4em;
}

.inside > .post-content:before {
	bottom: 100%;
	left: 2%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: #474d5d;
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;}

.inside > .post-content:after {content: none;}

.post-footer {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;}

.inside .post-content, .inside .post-footer {
	width:100%;
	margin: 0 0 1em 0;
}

.inside {float: none; clear: both;}

.pagination {
	clear:both;
	text-align: center;}

.post-tags, .post-share {
	font-size: .8em;
}

.post-share {margin-top: 2em;}
.share {
	padding: .5em;
	border-radius: .5em;
	border: 1px solid;
	margin-right: .8em; 
}

.author-image, .author-info {float: left;}
.author-info {margin-left: 1em;}

.older-posts {float: right;}
.newer-posts {float: left;}
.read-more, .older-posts, .newer-posts{
	padding: .5em;}

.post-comments {width: 100%; margin:0;}

/* =============== 6.  Formating === */

pre {
	display:block;	
	padding:1rem;
	line-height:1.1em
}

.post img {
margin: 0 0 1.5em 0;
max-width: 100%;
height: auto;}

blockquote {
	font-size: 1.2em;
	font-style: italic;
	margin: 1em 2em;
	padding: .5em;
	line-height: 1.4em;
	position: relative;
	border-left: .4em solid;}

.post-content p:first-child > img:first-child {}


/* =============== 7.  Footer === */

.main-footer {
	clear:both;
	width: 100%;
    height: auto;
    padding: 2em 0;
    margin-top: 2rem;
    text-align: center;
    color: #fff;}


/* =============== 7.  Media Queries === */

@media only screen and (max-width: 1024px) {

	.logo-wrap {width: 100%;}
	.main-header {padding: 0; background-size: auto;}
	.main {padding: 0 .5em;}

    blockquote {
        margin-left: 0;
    }

    .site-head {
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box;
        box-sizing: border-box; 
        height: auto;
        min-height: 240px;
        padding: 15% 0;
    }

    .blog-title {
        font-size: 2em;
        letter-spacing: -1px;
    }

    .blog-description {
        font-size: 1.7rem;
        line-height: 1.5em;
    }

    .post {
        font-size: 0.9em;
        line-height: 1.6em;
    }

    .post-template .post {
        padding-bottom: 1rem;
    }

}

/* ==========================================================================
   10. Media Queries - Smaller than 500px
   ========================================================================== */


@media only screen and (max-width: 500px) {

    .blog-logo img {
        max-height: 80px;
    }

    .inner, 
    .pagination {
        width: auto;
        margin-left: 16px;
        margin-right: 16px;
    }

    .post-header {
		float: none;
		width: 90%;
		margin: 0 auto;
    }
    .post-date {
    	border-radius: 0;
    	padding: .2em;
    }
    .post-content {
        width:90%;
        margin: 0 auto;
        float: none;        
    }

    .post-content:after {
    	content: none;
    }

    .site-head {
        padding: 10% 0;
    }

    .main-header img {width:100%;}

    .blog-title {
        font-size: 3rem;
    }

    .blog-description {
        font-size: 1.5rem;
    }
    .share {
    	display: block;
		margin: 1em;
    }

    .main-footer {
        padding: 0 1em;
        box-sizing: border-box;
    }

}